
<form action="/square/results">
  <div>
    <label for="number">Enter a number</label>
  </div>
  

  <div>
    <input id="number" name="number" placeholder="What number do you want to square" type="text">
  </div>
  
  <button>Calculate Square</button>
</form>
