<form action="/square_root/results">
  <div>
    <label for="square_root_number">Enter a number</label>
    <input id="square_root_number" name="square_root_number" placeholder="What number do you want to square" type="text">
  </div>

  <button>Calculate square root</button>
</form>
